# Building a list of legislators by CAA

Community Action Agencies serve all 77 counties in Oklahoma. Each agency may serve one or more counties. State House Members have legislative districts that may contain many counties, or be a small fraction of a single county. 

This notebook attempts to use the legislative districts and county names to match each agency to their respective State House Representative(s).

The data used in this notebook was retreived on 06/17/19.

In [1]:
#import os
import pandas as pd

### Load the data from the url below: 
https://www.okhouse.gov/Documents/Legislative%20Districts%20by%20County%20and%20Town.xls

Link found at the bottom of this page: https://www.okhouse.gov/Publications/GISDistrictMapsReports.aspx

In [2]:
df = pd.read_excel('Legislative Districts by County and Town(1).xls', sheet_name='HD', header=0)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 821 entries, 0 to 820
Data columns (total 5 columns):
House District            821 non-null int64
County                    821 non-null object
Municipalities            821 non-null object
Congressional District    821 non-null object
Senate District           821 non-null object
dtypes: int64(1), object(4)
memory usage: 32.1+ KB

,House District,County,Municipalities,Congressional District,Senate District
0,1,Le Flore,Talihina,2,5
1,1,McCurtain,Broken Bow,2,5
2,1,McCurtain,Garvin,2,5
3,1,McCurtain,Haworth,2,5
4,1,McCurtain,Idabel,2,5

### We'll do the House first. 

So we will drop all of the columns we don't need. We'll do this by creating a new dataframe. This means we will have duplicate rows, so we will drop those too.

In [3]:
df2 = df[['House District', 'County']]
df2.info()
df2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 821 entries, 0 to 820
Data columns (total 2 columns):
House District    821 non-null int64
County            821 non-null object
dtypes: int64(1), object(1)
memory usage: 12.9+ KB

   House District     County
0               1   Le Flore
1               1  McCurtain
2               1  McCurtain
3               1  McCurtain
4               1  McCurtain

In [4]:
df2 = df2.drop_duplicates()
df2.info()
df2.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 210 entries, 0 to 816
Data columns (total 2 columns):
House District    210 non-null int64
County            210 non-null object
dtypes: int64(1), object(1)
memory usage: 4.9+ KB

    House District     County
0                1   Le Flore
1                1  McCurtain
9                2   Sequoyah
16               3   Le Flore
27               4   Cherokee

### Load in the list of House Members from the url below:

https://www.okhouse.gov/Members/Default.aspx

Export the list to Excel. It is in an odd format, and the file says it's corrupted when you try to open it. Copy and paste the info into a .csv and save it without all the odd formatting.

In [5]:
df3 = pd.read_csv('memberslist.csv')
df3.info()
df3.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 6 columns):
Member      101 non-null object
District    101 non-null int64
Party       101 non-null object
Phone       101 non-null object
Room        101 non-null object
LA Name     101 non-null object
dtypes: int64(1), object(5)
memory usage: 4.8+ KB

,Member,District,Party,Phone,Room,LA Name
0,"Albright, Kelly",95,D,(405) 557-7314,539,Kaylee Rains-Saucedo*
1,"Baker, Rhonda",60,R,(405) 557-7311,202A,Julie Jackson
2,"Bell, Merleyn",45,D,(405) 557-7386,539B,Maegan Hansen*
3,"Bennett, Forrest",92,D,(405) 557-7404,542,Connie Riley
4,"Blancett, Meloyde",78,D,(405) 557-7334,543,Meagan Hansen

### Add a new copy of the 'County' column and name it 'agency'.

We will replace the county names with their agency's names with df.series.replace()

In [6]:
df2['agency'] = df2['County']
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 210 entries, 0 to 816
Data columns (total 3 columns):
House District    210 non-null int64
County            210 non-null object
agency            210 non-null object
dtypes: int64(1), object(2)
memory usage: 6.6+ KB

In [7]:
df2.agency = df2.agency.replace(['Bryan',
                              'Carter',
                              'Coal',
                              'Love',
                              'Pontotoc'], 'Big 5') \
                    .replace(['Canadian',
                              'Oklahoma'], 'CAAOKC') \
                    .replace(['Beckham',
                              'Cotton',
                              'Jefferson',
                              'Kiowa',
                              'Roger Mills',
                              'Tillman',
                              'Washita'], 'CADC') \
                    .replace(['Tulsa'], 'CAP Tulsa') \
                    .replace(['Mayes',
                              'Nowata',
                              'Rogers',
                              'Wagoner',
                              'Washington'], 'CARD') \
                    .replace(['Garfield',
                              'Grant'], 'CDSA') \
                    .replace(['Cleveland',
                              'Lincoln',
                              'Logan',
                              'Payne',
                              'Pottawatomie',
                              'Seminole'], 'COCAA') \
                    .replace(['Garvin',
                              'McClain',
                              'Stephens'], 'Delta') \
                    .replace(['Hughes',
                              'McIntosh',
                              'Okfuskee',
                              'Okmulgee'], 'DFCAF') \
                    .replace(['Comanche'], 'GPIF') \
                    .replace(['Atoka',
                              'Johnston',
                              'Marshall',
                              'Murray'], 'INCA') \
                    .replace(['Haskell',
                              'Latimer',
                              'Le Flore',
                              'Muskogee',
                              'Pittsburg',
                              'Sequoyah'], 'KI BOIS') \
                    .replace(['Choctaw',
                              'McCurtain',
                              'Pushmataha'], 'Little Dixie') \
                    .replace(['Adair',
                              'Cherokee',
                              'Craig ',
                              'Delaware',
                              'Ottawa'], 'NEOCAA') \
                    .replace(['Alfalfa ',
                              'Beaver',
                              'Blaine',
                              'Cimarron',
                              'Custer',
                              'Dewey',
                              'Ellis',
                              'Harper',
                              'Kingfisher',
                              'Major',
                              'Texas',
                              'Woods',
                              'Woodward'], 'Opportunities') \
                    .replace(['Greer',
                              'Harmon',
                              'Jackson'], 'SOCAG') \
                    .replace(['Creek',
                              'Kay',
                              'Noble ',
                              'Osage',
                              'Pawnee'], 'UCAP') \
                    .replace(['Caddo',
                              'Grady'], 'WVCAC')

df2.info()
df2.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 210 entries, 0 to 816
Data columns (total 3 columns):
House District    210 non-null int64
County            210 non-null object
agency            210 non-null object
dtypes: int64(1), object(2)
memory usage: 6.6+ KB

    House District     County        agency
0                1   Le Flore       KI BOIS
1                1  McCurtain  Little Dixie
9                2   Sequoyah       KI BOIS
16               3   Le Flore       KI BOIS
27               4   Cherokee        NEOCAA

Check to make sure they were all replaced. Fix strings and rerun the .replace() if necessary.

In [8]:
df2.agency.unique()

array(['KI BOIS', 'Little Dixie', 'NEOCAA', 'CARD', 'UCAP', 'CAP Tulsa',
       'DFCAF', 'Big 5', 'INCA', 'COCAA', 'Delta', 'CAAOKC', 'CDSA',
       'Opportunities', 'WVCAC', 'CADC', 'SOCAG', 'GPIF'], dtype=object)

### Add new columns from the members list. 

The columns are:

'Member' - House Member's first and last name
'Party' - party affiliation, D or R
'Phone' - Capitol office phone number
'Room, - Capitol room #
'LA Name' - the Legislative Assistant's name

First add copies of the 'House District' column and name them for each of the columns above. We will create a new dataframe from each column and 'House District'. Use the 'House District' column as the index with .set_index() function. Convert the dataframe to a dictionary with .to_dict(), then pass the dict to df.s.replace().

The 'House District' column must be .astype(int) to convert to dict.

In [9]:
###'House District' dtype is already int, therefore we do not need .astype(int, errors='ignore')
##
#

#df2['Member'] = df2['House District'].astype(int, errors='ignore')
#df2['Party'] = df2['House District'].astype(int, errors='ignore')
#df2['Phone'] = df2['House District'].astype(int, errors='ignore')
#df2['Room'] = df2['House District'].astype(int, errors='ignore')
#df2['LA Name'] = df2['House District'].astype(int, errors='ignore')

df2['Member'] = df2['House District']
df2['Party'] = df2['House District']
df2['Phone'] = df2['House District']
df2['Room'] = df2['House District']
df2['LA Name'] = df2['House District']

df2.info()
df2.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 210 entries, 0 to 816
Data columns (total 8 columns):
House District    210 non-null int64
County            210 non-null object
agency            210 non-null object
Member            210 non-null int64
Party             210 non-null int64
Phone             210 non-null int64
Room              210 non-null int64
LA Name           210 non-null int64
dtypes: int64(6), object(2)
memory usage: 14.8+ KB

,House District,County,agency,Member,Party,Phone,Room,LA Name
0,1,Le Flore,KI BOIS,1,1,1,1,1
1,1,McCurtain,Little Dixie,1,1,1,1,1
9,2,Sequoyah,KI BOIS,2,2,2,2,2
16,3,Le Flore,KI BOIS,3,3,3,3,3
27,4,Cherokee,NEOCAA,4,4,4,4,4

In [12]:
df3 = df3.set_index('District')

a = df3.Member.to_dict()

b = df3.Party.to_dict()

c = df3.Phone.to_dict()

d = df3.Room.to_dict()

e = df3['LA Name'].to_dict()

df2.Member = df2.Member.replace(to_replace=a)

df2.Party = df2.Party.replace(to_replace=b)

df2.Phone = df2.Phone.replace(to_replace=c)

df2.Room = df2.Room.replace(to_replace=d)

df2['LA Name'] = df2['LA Name'].replace(to_replace=e)

df2.info()
df2.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 210 entries, 0 to 816
Data columns (total 8 columns):
House District    210 non-null int64
County            210 non-null object
agency            210 non-null object
Member            210 non-null object
Party             210 non-null object
Phone             210 non-null object
Room              210 non-null object
LA Name           210 non-null object
dtypes: int64(1), object(7)
memory usage: 14.8+ KB

,House District,County,agency,Member,Party,Phone,Room,LA Name
0,1,Le Flore,KI BOIS,"Tadlock, Johnny",R,(405) 557-7363,409,Leslie Smith-Haddad
1,1,McCurtain,Little Dixie,"Tadlock, Johnny",R,(405) 557-7363,409,Leslie Smith-Haddad
9,2,Sequoyah,KI BOIS,"Olsen, Jim",R,(405) 557-7315,329B,Martha Perry*
16,3,Le Flore,KI BOIS,"Kiger, Lundy",R,(405) 557-7413,405,Sawyer Campbell*
27,4,Cherokee,NEOCAA,"Meredith, Matt",D,(405) 557-7408,541,Connie Riley

Reset the index and save the resulting dataframe to .csv

In [14]:
df2 = df2.reset_index(drop=True)
df2.info()
df2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 8 columns):
House District    210 non-null int64
County            210 non-null object
agency            210 non-null object
Member            210 non-null object
Party             210 non-null object
Phone             210 non-null object
Room              210 non-null object
LA Name           210 non-null object
dtypes: int64(1), object(7)
memory usage: 13.2+ KB

,House District,County,agency,Member,Party,Phone,Room,LA Name
0,1,Le Flore,KI BOIS,"Tadlock, Johnny",R,(405) 557-7363,409,Leslie Smith-Haddad
1,1,McCurtain,Little Dixie,"Tadlock, Johnny",R,(405) 557-7363,409,Leslie Smith-Haddad
2,2,Sequoyah,KI BOIS,"Olsen, Jim",R,(405) 557-7315,329B,Martha Perry*
3,3,Le Flore,KI BOIS,"Kiger, Lundy",R,(405) 557-7413,405,Sawyer Campbell*
4,4,Cherokee,NEOCAA,"Meredith, Matt",D,(405) 557-7408,541,Connie Riley

### Check to see if all House Members are in the dataframe. 

There should be 101, one for each district.

In [15]:
df2.Member.nunique()

101

In [82]:
df2.to_csv('OK_House_by_CAAs.csv')

### Group the dataframe by the 'agency' column and save each group by object to a .csv

In [93]:
x = df2.groupby(by=df2.agency)
x

In [94]:
x.groups

{'Big 5': Int64Index([39, 44, 51, 62, 108, 111, 112], dtype='int64'),
 'CAAOKC': Int64Index([ 73,  93,  95,  98, 101, 106, 125, 137, 144, 149, 185, 186, 187,
             188, 189, 193, 194, 195, 197, 199, 200, 201, 202, 203, 204, 207,
             208, 209],
            dtype='int64'),
 'CADC': Int64Index([114, 122, 126, 128, 129, 130, 133, 134, 158, 162], dtype='int64'),
 'CAP Tulsa': Int64Index([ 20,  34,  57,  69,  71,  85, 166, 167, 168, 169, 170, 171, 172,
             174, 176, 177, 178, 180, 181, 182, 183, 205],
            dtype='int64'),
 'CARD': Int64Index([6, 8, 9, 12, 13, 14, 15, 16, 18, 19, 21, 22, 35, 56, 58, 175, 179,
             184, 206],
            dtype='int64'),
 'CDSA': Int64Index([88, 89, 94, 96], dtype='int64'),
 'COCAA': Int64Index([ 47,  50,  63,  64,  65,  66,  67,  72,  74,  75,  76,  77,  78,
              83,  91, 102, 103, 104, 123, 124, 196, 198],
            dtype='int64'),
 'DFCAF': Int64Index([23, 29, 33, 40, 41, 59, 60, 61], dtype='int64'),
 'Delta': Int64Index([48, 49, 53, 99, 100, 105, 109, 115, 117, 118, 164], dtype='int64'),
 'GPIF': Int64Index([156, 157, 159, 161], dtype='int64'),
 'INCA': Int64Index([43, 52, 54, 55, 110, 113], dtype='int64'),
 'KI BOIS': Int64Index([0, 2, 3, 24, 26, 27, 28, 30, 31, 32, 36, 37, 38, 42], dtype='int64'),
 'Little Dixie': Int64Index([1, 45, 46], dtype='int64'),
 'NEOCAA': Int64Index([4, 5, 7, 10, 11, 25, 190, 191, 192], dtype='int64'),
 'Opportunities': Int64Index([ 97, 135, 138, 139, 140, 141, 142, 143, 145, 146, 147, 150, 151,
             152, 153, 154, 155],
            dtype='int64'),
 'SOCAG': Int64Index([119, 120, 121, 127], dtype='int64'),
 'UCAP': Int64Index([17, 68, 70, 79, 80, 81, 82, 84, 86, 87, 90, 92, 165, 173], dtype='int64'),
 'WVCAC': Int64Index([107, 116, 131, 132, 136, 148, 160, 163], dtype='int64')}

In [112]:
for name, group, in x:
    print(name)

Big 5
CAAOKC
CADC
CAP Tulsa
CARD
CDSA
COCAA
DFCAF
Delta
GPIF
INCA
KI BOIS
Little Dixie
NEOCAA
Opportunities
SOCAG
UCAP
WVCAC

In [141]:
b5 = x.get_group('Big 5')
b5.to_csv('Big5.csv', index=False)

okc = x.get_group('CAAOKC')
okc.to_csv('CAAOKC.csv', index=False)

cadc = x.get_group('CADC')
cadc.to_csv('CADC.csv', index=False)

capt = x.get_group('CAP Tulsa')
capt.to_csv('CAPTulsa.csv', index=False)

card = x.get_group('CARD')
card.to_csv('CARD.csv', index=False)

cdsa = x.get_group('CDSA')
cdsa.to_csv('CDSA.csv', index=False)

coca = x.get_group('COCAA')
coca.to_csv('COCAA.csv', index=False)

dfca = x.get_group('DFCAF')
dfca.to_csv('DFCAF.csv', index=False)

delt = x.get_group('Delta')
delt.to_csv('Delta.csv', index=False)

gpi = x.get_group('GPIF')
gpi.to_csv('GPIF.csv', index=False)

inc = x.get_group('INCA')
inc.to_csv('INCA.csv', index=False)

kb = x.get_group('KI BOIS')
kb.to_csv('KIBOIS.csv', index=False)

ld = x.get_group('Little Dixie')
ld.to_csv('LittleDixie.csv', index=False)

neo = x.get_group('NEOCAA')
neo.to_csv('NEOCAA.csv', index=False)

opp = x.get_group('Opportunities')
opp.to_csv('Opportunities.csv', index=False)

soc = x.get_group('SOCAG')
soc.to_csv('SOCAG.csv', index=False)

uca = x.get_group('UCAP')
uca.to_csv('UCAP.csv', index=False)

wvc = x.get_group('WVCAC')
wvc.to_csv('WVCAC.csv', index=False)